<launch>
    <!-- Specify the path to the ORB-SLAM2 vocabulary and configuration files -->
    <arg name="voc_file" default="/ORB_SLAM2/Vocabulary/ORBvoc.txt"/>
    <arg name="settings_file" default="$(find ORB_SLAM2)/config/UnitySim.yaml"/>
    <arg name="kf_traj_file" default="/ORB_SLAM2/ROS_output/traj/unitysim_00_traj_verify.txt"/>
    <arg name="map_file" default="/ORB_SLAM2/ROS_output/map/unitysim_00_map_verify.bin"/>             
    <arg name="loop_file" default="/ORB_SLAM2/ROS_output/loop/unitysim_00_loops_verify.txt"/>             
    <arg name="bag_file" default="/ORB_SLAM2/dataset/UnitySimulation_00.bag" />

    <!-- Launch the ORB-SLAM3 node -->
    <node name="ORB_SLAM2" pkg="ORB_SLAM2" type="Mono" output="screen">
        <!-- Define the topics for the node -->
        <remap from="/cam0/image_raw" to="/camera/left/image_raw"/>
        
        <param name="voc_file" value="$(arg voc_file)"/>
        <param name="settings_file" value="$(arg settings_file)"/>
        <param name="kf_traj_file" value="$(arg kf_traj_file)"/>
        <param name="loop_file" value="$(arg loop_file)"/>
        <param name="map_file" value="$(arg map_file)"/>

    </node>

    <node name="static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 -0.7071, 0, 0, 0.7071 world camera_init" />
    <!-- <node name="static_transform_publisher_" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0.5 -0.5 -0.5 0.5 camera_init body" /> -->
    <!-- Optionally, you can include other nodes or configurations here -->
</launch>